.container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

h2 {
  text-align:  center;
}

.iso-box {
  background-color: #3f51b575;
  border: 2px solid #3f51b5;
}

#iso-vis {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 180px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
