<ng-template #title>
  <span> Gene Information</span>
  <span *ngIf="socketService.pintronStatus" style="color: lightblue"> &nbsp; - Pintron is processing gene </span>
</ng-template>


<h2>GENE INFORMATION</h2>

<mat-form-field appearance="outline">
  <mat-label>Select species</mat-label>
  <input type="text" matInput [formControl]="speciesControl" [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnSpecie">
    <mat-option *ngFor="let option of filteredSpecies | async" [value]="option">
      {{option.normalizedName}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Gene</mat-label>
  <input matInput [(ngModel)]="gene">
</mat-form-field>

<div class="action-button">
  <button [disabled]="disableSearch" mat-raised-button color="primary" (click)="ensemblId()"> Find gene </button>
  <button mat-stroked-button color="primary" (click)="clearGene()"> Clear gene </button>
</div>

<app-gene-information *ngFor="let g of genesInformation" [gene]="g"> </app-gene-information>
