:host {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-form-field {
  width: 80%;
}

.action-button {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 3px;
  margin-bottom: 3px;
}
