.loading-screen-wrapper {
  z-index: 100000;
  position: absolute;
  background-color: rgba(4, 8, 25, 0.49);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
  