<mat-card>
  <mat-card-header>
    <mat-card-title>NAME: {{gene.display_name}}</mat-card-title>
    <mat-card-subtitle>Assembly name: {{gene.assembly_name}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
      <b> Description: </b>
      {{gene.description}}
    </p>
    <p>
      <b> Species: </b>
      {{gene.species}}
    </p>
    <p>
      <b> Biotype: </b>
      {{gene.biotype}}
    </p>
    <p>
      <b> Strand: </b>
      {{gene.strand}}
    </p>
    <p>
      <b> Version: </b>
      {{gene.version}} </p>
    <p>
      <b> Start: </b>
      <span style="color: green"> {{gene.start}} </span>
    </p>
    <p>
      <b> End: </b>
      <span style="color: green"> {{gene.end}} </span>
    </p>
    <p>
      <b> ENSAMBLE ID: </b>
      <span style="color: green"> {{gene.id}} </span>
    </p>

    <mat-form-field *ngIf="sequence" class="fasta-container" appearance="outline">
      <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="8"
        cdkAutosizeMaxRows="20" readonly [value]="sequence?.seq"></textarea>
    </mat-form-field>

  </mat-card-content>
  <mat-card-actions>
    <button matTooltip="Get sequence" [disabled]="sequence" mat-icon-button (click)="getTextSequence()">
      <mat-icon>receipt</mat-icon>
    </button>
    <button matTooltip="Send to Pintron" [disabled]="(!sequence || ss.pintronStatus)" mat-icon-button
      (click)="getFasta()">
      <mat-icon>input</mat-icon>
    </button>
    <button matTooltip="Json output" mat-icon-button (click)="getTranscript()">
      <mat-icon>scatter_plot</mat-icon>
    </button>
    <button matTooltip="Transcript graph" mat-icon-button (click)="getTranscript(true)">
      <mat-icon>insert_chart_outlined</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
