:host {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

mat-card {
    width: 77%;
    margin-top: 7px;
    margin-bottom: 7px;
    background-color: rgba(129, 120, 120, 0.288);
}

.fasta-container {
    width: 100%;
}