<app-loading-screen> </app-loading-screen>

<dp-shell>
  <h1 shell-title>WebSplicing</h1>
  <span shell-global-actions>
  </span>
  <!--   <span shell-menu>
  </span> -->

  <mat-list shell-nav>
    <mat-nav-list>
      <a routerLink="fasta-input" mat-list-item> FASTA INPUT </a>
    </mat-nav-list>
  </mat-list>

  <div shell-content style="height: 100%">
    <router-outlet></router-outlet>
  </div>
</dp-shell>